header {
    position: absolute;
    width: 100vw;
    z-index: 10;
}

.logo-nav {
    height: 6em;
}

#hero {
    height: 100vh;
    width: 100vw;
    background-image: url(https://source.unsplash.com/1600x900/?dark-nature);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.hero-text {
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.hero-text h1 {
    font-size: 4em;
    color: whitesmoke;
    font-family: Geneva, sans-serif;
    font-weight: 100;
    text-shadow: 0 0 25px #000;
}