{% assign data = site.data.hero %}
<!-- {{ data.title }} Start -->
<header id="{{ data.title }}" class="hero">
    <div class="pt-5 pb-5 pb-lg-0 container">
        <div class="row justify-content-md-between align-items-center align-items-md-start">
            <div class="col-8 col-md-7 pt-xl-5">
                <h1 class="display-4">{{ data.heading }}</h1>
                <p class="lead">{{ data.subheading | markdownify }}</p>
                {% if data.button.visibility %}
                <a href="{{ data.button.href }}" class="btn button text-white page-scroll ">
                    {{ data.button.label }}
                    <i class="fas fa-xs fa-chevron-right ml-2 mb-1"></i>
                </a>
                {% endif %}
            </div>
            <div class="col-4 col-xl-5 pt-lg-0 pb-lg-5 px-lg-5">
                <img class="img-fluid" src="{{ data.image.src }}" alt="{{ data.image.alt }}">
            </div>
        </div>
    </div>
</header>
<!-- {{ data.title }} End -->