<nav class="navbar navbar-expand-md sticky-top navbar-light bg-white">
    <div class="container">
        <a class="navbar-brand" href="#"><img src="../assets/img/cubetreeLogo_dark.svg" alt="Cubetree Logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleMenu"
            aria-controls="navbarToggleMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarToggleMenu">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0 text-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="nav-item"><a class="page-scroll nav-link" href="#about">About</a></li>
                <!-- <li class="nav-item"><a class="page-scroll nav-link" href="#clients">Clients</a></li> -->
                <!-- <li class="nav-item"><a class="page-scroll nav-link" href="#team">Team</a></li> -->
                <li class="nav-item"><a class="page-scroll nav-link" href="#contact">Contact Us</a></li>
            </ul>
        </div>
    </div>
</nav>